/*Estilos CSS (25 puntos)
• Crear un archivo styles.css y vincularlo al archivo HTML. (5 puntos)
• Aplicar estilos básicos para el cuerpo ‹body>, como el color de fondo y la tipografía. (5 puntos)
• Estilizar el < header> y el ‹main> para mejorar la presentación. (5 puntos)
• Dar estilo a la lista de tareas para que se vea agradable. (5 puntos)
• Estilizar el campo de entrada y el botón para que sean atractivos y fáciles de usar. (5 puntos)*/



body {
    background-color: #893a3a;
    font-family: "Gochi Hand", cursive;
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
    color: white;
}


#taskInput {
    background: #fef4f4;
    width: 400px;
    margin: 0 auto;
    border: 2px solid #575654;
    padding: 20px;
    border-radius: 20px;
}

#addTaskBtn {
    text-align: right;
    cursor: pointer;
    padding: 10px 10px;
    background-color: #575654;
    color: white;
    border: none;
    border-radius: 5px;
   }

#taskList {
    width: 500px;
    text-align: left;
    padding: 10px;
    font-size: medium;
}

#taskList li {
    list-style-position: inside;
    list-style-type: decimal;
}


.delete-btn {
    background-color: #575654;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    margin-inline-start: 10px;
}

#addTaskBtn:hover {
    background-color: #7f7b7b;
}

.delete-btn:hover {
    background-color: #7f7b7b;
}

.completed {
    text-decoration: line-through #575654;
    text-decoration-thickness: 0.1rem;
}

